
.main_container {
    padding: 20px 35px;
}

.main_title {
    display: flex;
    align-items: center;
    margin: 20px 20px;
}

.main_title > img {
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
}

.main_greeting {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
}

.main_greeting > h1 {
    font-size: 24px;
    font-weight: 700;
    color: #a5aaad;
}

.main_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 20px 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
    background-color: #FFF;

    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #FFF;
}

.card_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_inner > .text-title {
    font-size: 25px;
}

.card_inner > .text-primary-p {
    font-size: 20px !important;
}